body {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
}

.div1 {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d1d3d6;
  max-width: 1684px;
  max-height: 1000px;
  padding: 7px;

  background-color: white;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.div1_1 {
  height: 50px;

  flex: 1 1 20%;
  justify-content: center;
}

.div1_2 {
  flex: 1 1 40%;
  height: 30px;

  border: 1px solid #d1d3d6;
  align-self: center;
  justify-self: center;
}

.div1_3 {
  max-height: 70px;

  flex: 1 1 20%;

  text-align: right;
}

.starter_kit {
  font-family: Times New Roman, Times, serif;
  color: #2797ea;
  font-weight: bold;
}
.search_icon {
  height: 30px;
  font-size: 25px;
  color: #2797ea;
  float: right;
}

.pay_button1 {
  position: relative;
  float: right;
  background-color: #2797ea;
  color: white;
  border: 1px solid #d1d3d6;
  height: 33px;
  width: 100px;
  font-size: 13px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-self: flex-end;
  justify-content: flex-end;
}

.div2 {
  display: flex;
  flex-direction: row;
  border: 1px solid #d1d3d6;
  max-width: 1700px;
  height: 40px;

  background-color: white;

  overflow: hidden;
}
.dropdown {
  color: black;

  height: 30px;
  font-size: 24px;
  border: none;
  background-color: white;

  align-self: center;
  position: relative;
}

.category_price {
  font-family: Times New Roman, Times, serif;
  color: #2797ea;
}

.category_reviews {
  font-family: Times New Roman, Times, serif;

  color: #bebfc1;
  font-size: 22px;
}
.num_of_category {
  border: 2px solid #d1d3d6;
  background-color: white;
  font-size: 18px;
  color: #aeb6c2;
  float: left;
  height: 20px;
  padding: 20px;
}

.Img1 {
  border-style: 1px solid #d1d3d6;

  height: 190px;

  background-color: #f0f0f0;
  position: relative;
}

.h11 {
  display: run-in;
  font-size: 27px;
}

.h12 {
  font-size: 27px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 8px;

  max-width: 1700px;
  background-color: #f0f0f0;
}
.grid-item {
  background-color: white;
  border: 1px solid #d1d3d6;

  font-size: 17px;

  padding: 7px;

  color: black;
}

.grid-item2 {
  background-color: white;
  border: 1px solid #d1d3d6;

  font-size: 20px;
  padding: 11px;

  color: black;
}

.grid-txt {
  font-size: 15px;
  color: #abb2b9;
  text-align: center;
}

.la {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none;
}

.reviews {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  float: left;
  color: #bebfc1;
}
.add_to_chart {
  height: 65px;
  float: right;
  background-color: #2797ea;
  color: white;
  border: 1px solid #d1d3d6;
  padding: 20px;
}

.div5 {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid #d1d3d6;
  max-width: 1700px;
  height: 40px;
  overflow: hidden;
  align-items: center;
}
.div5_p {
  flex: 1 1 400px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none;
  float: left;

  max-height: 20px;
}

.div5_show_more {
  flex: 1 1 200px;
  color: #2797ea;
  justify-self: flex-end;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none;
  max-height: 20px;
  max-width: 110px;
  float: right;
}

.div6 {
  border: 1px solid #d1d3d6;
  max-width: 1700px;
  background-color: white;
  padding: 9px;
}

.div6_header {
  float: left;
  font-size: 20px;

  color: #2797ea;
}

.div6_p1 {
  flex: 0 50%;

  float: left;
  font-size: 25px;
}

.div6_p2 {
  font-size: 20px;
}
.div6_p3 {
  font-size: 15px;
}

.div6_1 {
  display: flex;
  flex-wrap: wrap;
  padding: 9px;
}

.div6_1_1 {
  flex: 1 1 50%;
}

.div6_1_2 {
  flex: 1 1 50%;
}
.checked {
  margin-top: 6px;
  color: orange;
  padding-left: 4px;
  float: left;
  max-width: 30px;
}

.div6_2 {
  height: 70px;
  align-items: center;
}

.div6_btn {
  height: 40px;

  font-weight: bold;

  float: right;
  background-color: #d5e6f5;
  color: #2797ea;
  font-size: 16px;
  border: 1px solid #d1d3d6;
}

.div7_input {
  float: left;

  height: 34px;
}

.div7_btn {
  height: 40px;
  float: lefts;
  background-color: #2797ea;
  color: white;
  border: 1px solid #d1d3d6;
}
.div7_p1 {
  float: left;
  font-size: 25px;

  color: black;
}

.div7_p2 {
  font-size: 15px;
  height: 10px;
  color: black;
}
.div7_1 {
  flex: 0 50%;
  max-height: 400px;

  float: left;
}

.div7_2 {
  flex: 0 50%;

  max-height: 300px;
}
.div7 {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid #d1d3d6;
  max-width: 1700px;
  max-height: 900px;
  background-color: white;
}
.div7_p3 {
  display: flex;
  font-size: 15px;
  margin-left: 76px;
  font-family: Arial, Helvetica, sans-serif;
  color: #bebfc1;
}

@media (max-width: 1200px) {
  .body {
    max-width: 440px;
  }
  .firstdiv {
    flex-direction: row;
  }
  .firstdiv_div1 {
    order: 1;
    flex: 1 1 50%;
  }
  .firstdiv_div3 {
    order: 2;
    flex: 1 1 50%;
  }
  .firstdiv_div2 {
    order: 3;
    flex: 1 1 100%;
  }
}
